body{
    background-color: #000000;
    min-height: 80vh;
    margin:0;
    padding:0;
    color:#ffffff;
    font-size: 20px;
}
.nav-header{
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
    background-color: rgb(5, 5, 5);
    position: fixed;
    width: 100%;  
    top:0;
}
#nav-bar, #logo, #search{
    flex-basis: 50%;
}
#logo{
    text-align: center;
}
#logo h3{color: red; font-size:30px;}
#search{text-align: right; margin:25px;}
#nav-bar{margin:25px;}
#nav-bar button{
    background-color:transparent;
    outline: none; color:#ffffff;
    border: none; font-size: 30px;
}


.menu-bar{
    display: flex;
    flex-direction: row;
    margin:auto;
    overflow: hidden;
    background-color: rgb(5, 5, 5);
    position: fixed;
    top:100px;
    width: 100%;  z-index: 99999;
}

#home, #folder, #music, #tv{
    flex-basis: 50%;
    margin:auto;
    text-align: center;
    font-size:25px;
}
a{
    text-decoration: none;
    color:#ffffff;
    padding-bottom: 5px;
}
a:hover{
    border-bottom:3px solid red;
}


.first-row{
    background-image: url("./images/computer.jpg");
    min-height:600px; 
    background-size:98% 98%;
    background-position:50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#desc{
    flex-basis: 70%;
    margin:auto;margin-bottom: 20px; margin-right:10px;
    padding-left: 50px;
    font-size: 24px;
    letter-spacing: 3spx;
}
#see-more{
    flex-basis: 30%;
}
#see-more{
    text-align: center;
    margin:auto;
    margin-bottom: 50px;
    margin-right:20px;
}
#see-more-btn{
    color:#ffffff;
    background-color: red;
    padding:10px;
    font-size: 24px;
}



.second-row{
    display: flex;
    flex-direction: row;
    background-color:rgb(44, 44, 134);
    width:98%; margin:auto;
    min-height:400px;
}
#sign-up{
    margin:auto;
    text-align: center;
    flex-basis: 50%;
}
#learn-more, #sign-up-btn{
    background-color:rgb(44, 44, 134);
    border:2px solid white;
    padding: 10px;
    font-size: 15px;
    color:#ffffff;
}
#sign-up-img{
    background-image: url("./images/computer2.jpg"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex-basis: 70%;
}



#movie-carousel{
    width: 98%; margin: auto; margin-bottom: 10px;
    min-height:400px;
    display: flex;
    flex-direction: row;
}
#movie-h{
    display: flex;
    flex-direction: row;
}
#movie-h h3{
    flex-basis: 50%; margin:10px 20px 0px 20px;
}
#movie-h #more-movie{
    text-align: right;
}
#movie-img{
    flex-basis: 50%;
}
#movie-img p{
    margin:auto; margin-left:5px; 
}
#movie-img-1, #movie-img-2, #movie-img-3, #movie-img-4{
    min-height:300px; 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 20px 5px 5px 5px;
}
#movie-img-1{
    background-image: url("./images/computer2.jpg");
}
#movie-img-2{
    background-image: url("./images/computer2.jpg");
}
#movie-img-3{
    background-image: url("./images/computer2.jpg");
}
#movie-img-4{
    background-image: url("./images/computer2.jpg");
}



.live-page{
    display: none;
    margin-top:200px;
}
#first-live-row, #second-live-row{
    overflow: hidden;
    background-color: rgb(5, 5, 5);
    position: fixed;
    width: 100%;  z-index: 99999;
}
#second-live-row{
    margin-top:60px;
}
#first-live-row, #lang-ent, #second-live-row{
    display: flex; flex-direction: row;
}
#all-live-videos, #lang-ent{
    flex-basis: 50%;
}
#all-live-videos{
    margin-left:20px;
}
#lang-ent p{
    flex-basis: 50%;
    text-align: right;
    margin-right:15px;
}

#live-btn, #time-1, #time-2, #time-3{
    flex-basis: 50%; margin:auto; text-align: center;
}
#live-btn-indicator{
    padding:10px; font-size: 18px; width:100px;
    background-color: red; border: transparent; outline:none;
}




.live-movie-show-info{
    display: flex; flex-direction: column;
    margin:30px auto; width:90%; 
}
#live-shows-container, #live-shows{
    display: flex; flex-direction: row;
}
#live-shows-container:nth-child(1){
    margin-top:120px;
}
#live-shows{
    flex-basis: 50%;
}
#live-show-img{
    width:150px; height:150px; 
}
#vl{
    border-left: 2px solid white;
    height:100px; margin: auto; margin-left:50px;
}
#live-show-img, #live-info{
    flex-basis: 50%;
}
#live-info{
    margin: auto; text-align: center;
}

hr{
    border-left: 2px solid white; width:100%; margin:20px auto; 
}


#movie-list-page{
    display: none;
    margin-top:200px;
}
#movie-list-carousel{
    background-image: url("./images/computer2.jpg"); 
    background-size:98% 98%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height:400px; display: flex;
}
#movie-list-carousel button{
    margin:auto 30px 30px auto; font-size:20px;
    padding: 10px; background-color:red;
}
#movie-list{
    display: flex; flex-direction: column;
}
#movie-images{
    display: flex; flex-direction: row;
}
#movie-images div{
    flex-basis: 50%; height:300px; margin:10px;
}
#movie-images #comic-img:nth-child(1), #movie-images #comic-img:nth-child(2), #movie-images #comic-img:nth-child(3){ 
    background-size:98% 98%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#movie-images #comic-img:nth-child(1){
    background-image: url("./images/computer2.jpg");
}
#movie-images #comic-img:nth-child(2){
    background-image: url("./images/computer.jpg");
}
#movie-images #comic-img:nth-child(3){
    background-image: url("./images/fatimah.jpg");
}
@media screen and (max-width:600px){
    .first-row, #movie-carousel, #live-movie-show-info, #live-shows-container, #movie-images{
        flex-direction: column;
    }
    #desc{
        margin-bottom: 0;
    }
    #see-more{
        margin-top:0;
    }
    .live-movie-show-info{
        margin-top:10px;
    }
    #live-shows{
        margin-top: 30px;
    }
}